*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body-container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

main-container {
    display: flex;
}

main {
    flex: 1;
    padding: 1em;
}

aside {
    margin: .4em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
}

[aria-label="Primary"] ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

[aria-label="Primary"] li {
    list-style-type: none;
    margin: 0 .3em;
}

[aria-current="page"] a {
    text-decoration: none;
    background-color: #eee;
}

pre {
    max-width: 70vw;
    word-wrap: normal;
    overflow-x: auto;
    white-space: pre;
  }

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }
    a {
        color: #efd3ff;
    }
}