---
title: Airliners object
description: An object of airliners
layout: default
tags: [primary, iteration]
date: 2024-02-02
---
<ul>
  {% assign object = object | sort: 'model' %}
  {% for airliner in object %}
  <li>{{ airliner.model }}</li>
  {% endfor %}
</ul>
<h4>Structure</h4>
<pre>
  &lt;ul>
    &#123;% assign object = object | sort: 'model' %}
    &#123;% for airliner in object %}
      &lt;li>&#123;&#123; airliner.model }}&lt;/li>
    &#123;% endfor %}
  &lt;/ul>
</pre>