---
title: Test variables
description: 
layout: default
tags: [primary, supplieddata]
date: 2023-03-01
---
<ul>
  {% for item in collections.airliner %}
  <li>{{ item.data.title }}</li>
  {% endfor %}
</ul>
<h4>Structure</h4>
<pre>
  &lt;ul>
  &#123;% for item in collections.airliner %}
      &lt;li>&#123;&#123; item.data.title }}&lt;/li>
  &#123;% endfor %}
  &lt;/ul>
</pre>