<nav aria-label="Primary">
  <ul>
    <li><a {% if page.url=="/" %}aria-current="page" {% endif %}href="{{ '/' | url }}">Home</a></li>
    {%- for nav in collections.primary %}
    <li>
      <a {% if page.url==nav.url %}aria-current="page" {% endif %}href="{{ nav.url | url }}">{{ nav.data.title }}</a>
    </li>
    {%- endfor %}
  </ul>
</nav>

<template id="burger-template">
  <button type="button" aria-expanded="false" aria-label="Menu" aria-controls="mainnav">
    <svg width="24" height="24" aria-hidden="true">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z">
    </svg>
  </button>
</template>