<nav aria-label="Secondary">
  <h3><a href="/{{ parent | url }}">{{ parent | capitalize }}</a></h3>
  <ul>
    {% for nav in collections.secondary %}
      {% if nav.data.parent == parent  %}
    <li {% if page.url==nav.url %}aria-current="page" {% endif %}>
      <a href="{{ nav.url | url }}">{{ nav.data.title }}</a>
    </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>