<small>&copy; {{ "now" | date: "%Y" }} Built with <a href="https://www.11ty.dev/">Eleventy</a> & <a href="https://liquidjs.com/">LiquidJS</a> by <a href="https://michelmaillard.ch/">Michel Maillard</a>, <a href="/README">Readme.md</a>.</small>
