---
title: Permalinks with object
description: Paginate an object of airliners with permalinks
date: 2024-07-07
---
<ul>
  {% for airliner in object %}
  <li><a href="/permalink1/{{ airliner.model | slugify }}">{{ airliner.model }}</a></li>
  {% endfor %}
</ul>

<h3>Structure</h3>
<pre>
  &#60;ul>
  {&#37; for airliner in object &#37;}
    &#60;li>&#60;a href="/permalink3/&#123;&#123; airliner.model | slugify }}">&#123;&#123; airliner.model }}</a></li>
  {&#37; endfor &#37;}
  &#60;/ul>
</pre>